h1{
  font-size: 5.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #A5029F;
}

button#iniciar{
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #A5029F;
  font-weight: bold;
  background-color: #00000050;
  color: white;
  font-size: 18px;
  width: 200px;
  height: 50px;
}


button#iniciar:hover{
  background-color: #00000090;
}


button#iniciar{
  cursor: pointer;
}


.logo h2{
  font-size: 2.5em;
  color: white;
  z-index: 200;
}

.innitial{
  display: flex;
  width: 100vw;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.second{
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

figure{
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.second img{
  width: 200px;
  height: 250px;
  border: 3px solid #A5029F;
  padding: 5px;
  transition: .5s;
}

.second img:hover{
  width: calc(190px * 2);
}