@media(max-width: 900px){
  .btn-mobile{
    display: block;
  }

  button#btn-mobile{
    background-color: transparent;
    width: 50px;
    display: block;
    border: none;
  }

  #btn-mobile img{
    width: 100%;
  }

  #nav ul{
    display: none;
    gap:0
  }

  #nav.active #menu{
    z-index: 10000;
    right: 6px;
    display: flex;
    flex-direction: column;
    background-color: #76179D;
    border: 1px solid #FEBD59;
  }

  #nav.active #menu a{
    font-size: 1em;
    border-bottom: 1px solid #FEBD59;
  }

  #menu{
    position: absolute;
  }

  #nav.active #menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .second{
    height: auto;
    padding: 10px;
  }

  figure{
    width: 100%;
  }
  
  .second img{
    width: 90%;
  }

  .modelo,
  .formatacoes,
  .cole{
    width: 100vw;
    align-items: center;
  }

  .bloco-modelo,
  .bloco-formatar{
    width: 90%;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: justify;
  }

  .first-line{
    flex-direction: column;
  }
  .selecionar-modelo,
  .selecionar-opcoes{
    flex-direction: column;
  }

  .bloco-filtro{
    width: 100%;
    padding: 0;
  }

  .bloco-filtro div{
    width: 150px;
  }
  .pesquisa{
    width: 80vw;
  }

  .materias{
    width: 90%;
  }
  .materia{
    width: 90%;
  }

  textarea{
    min-width: 90vw;
    max-width: 90vw;
    height: 200px;
  }

}


@media (max-width: 600px){
  .logo h2{
    font-size: 1.8em;
  }

  main{
    padding: 0 20px;
  }
  
  ul{
    display: none;
  }

  h1{
    font-size: 3.5em;
  }


  button#iniciar{
    display: block;
  }

  .bloco{
    display: none;
  }

  

}

